body{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
span{
  color:white;
}

header{
  background: #071E45;
  flex-basis: 100%;
}

ion-icon{
  color:white;
}
.container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

#banner{
  flex-basis: 100%;
}

.navigation{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}


nav a:hover{
  color: #444;
  transition: all ease-in-out 250ms;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
th{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
#skytech{
  height: 40%;
}
#laptop{
  height: 70%;
}
#monitor{
  height: 110%;
}
#motherboard{
  height: 40%;
}
#processor{
  height: 40%;
}
#keyboard{
  height: 40%;
}
footer{
background-color: #071E45;
color: white;
padding-bottom: 50px;
flex-basis: 100%;
}
footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li{
  display: inline-block;
  margin-left: 70px;
  padding-bottom: 25px;
}
.list{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.items{
  flex-basis: 100%;
}

img{
  max-width: 100%;
}
